/*------------Variaveis------------*/

:root {
  --color-background-Light: #f5f8fa;
  --color-background-Dark: #202124;

  --color-Primary-Light: #ffffff;
  --color-Primary-Dark: #41444a;

  --color-Accent: #00bf63;
  --color-Accent-darker: #07a65a;
}

/*------------body------------*/

body {
  background-color: var(--color-background-Light);
  width: 100%;
  height: 100%;
  text-decoration: none;
}

/*------------Section_1------------*/

.Section_1 {
  border-bottom: none;
  margin-bottom: 100px;
}

#Dashboard_img {
  display: block;

  margin: 0 0 0 auto;
  max-width: 50%;

  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.Section_1 .Title_Section {
  text-align: left;

  width: 400px;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.Section_1 .P_Section {
  text-align: left;

  width: 400px;
  font-size: 1rem;
}

.Section_1 .Button_Section {
  text-decoration: none;
  font-weight: bold;
  border: none;
  margin-top: 1rem;
  white-space: nowrap;

  line-height: 100px;
  padding: 10px 20px;
  border-radius: 28px;

  color: var(--color-background-Dark);
  background-color: var(--color-Accent);
  transition: background-color 0.3s ease;
}

.Section_1 .Button_Section:hover {
  background-color: var(--color-Accent-darker);
}

/*------------Section_2------------*/

.Section_2 {
  flex-direction: row-reverse;
  margin-top: 50px;
}

.Section_2 .Title_Section {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  width: 400px;
}

.Section_2 .P_Section {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 2rem;
  width: 400px;
}

.Logo_icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  border-radius: 12px;
  padding: 15px 15px;
  margin: 0 auto 0 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.Company_logos {
  display: block;
  width: 100px;
  height: 100px;
  max-width: 100%;
  max-height: 100%;
  border: solid;
  border-radius: 12px;
  padding: 10px 10px;
}

/*------------others------------*/

.Destacado {
  color: var(--color-Accent);
}

.container {
  display: flex;
  max-width: 80rem;
  align-items: center;
  margin: 0 auto;
}

/*------------responsive------------*/

@media screen and (max-width: 1070px) {
  .Section_1 {
    padding-bottom: 100px;
    display: grid;
    align-items: center;
    justify-content: center;
    place-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  }

  .container {
    margin: 100px;
  }

  #Dashboard_img {
    margin: 0 0 0 0;
    min-width: 80%;
  }

  .Section_1 .Title_Section,
  .Section_1 .P_Section,
  .Section_1 .Button_Section,
  .Section_2 .Title_Section,
  .Section_2 .P_Section,
  .Section_2 .Button_Section {
    place-items: center;
    text-align: center;
    width: auto;
  }

  .Text_Section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .Section_2 {
    display: grid;
    align-items: center;
    justify-content: center;
  }

  .Logo_icons {
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
  }
}

/*------------EDIÇÂO da novela carrosel------------*/

.carousel {
  width: 500px;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.message-container {
  display: flex;
  width: 100%;
  height: 100%;
  animation: carouselAnimation 36s linear infinite;
  animation-fill-mode: both;
}

.message {
  width: 100%;
  height: 100%;
  position: absolute;
}

.message-1 {
  left: 0%;
}

.message-2 {
  left: 100%;
}

.message-3 {
  left: 200%;
}

.message-4 {
  left: 300%;
}

@keyframes carouselAnimation {
  25% {
    transform: translateX(0);
  }
  26% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  51% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-200%);
  }
  76% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300%);
  }
}
.Section_3 {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  place-items: center;
}

.Section_4 {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  place-items: center;
  margin-bottom: 100px;
}

.botao_do_final_amem {
  background-color: var(--color-Accent);
  margin-top: 20px;
  border-radius: 28px;
  padding: 20px 60px;
  font-size: larger;
  font-weight: 700;
  text-decoration: none;
  color: var(--color-background-Dark);
}
